$primary-color: #CE3303;
$secondary-color: #404BAF;
$pink: rgb(146, 77, 155);
$white: #fff;
$btn-text-size: 2em;
$main-font: 'Lato', 'sans-serif';
$sec-font: 'Roboto', 'sans-serif';

.navbar{
  background-image: linear-gradient(to left, $primary-color, $secondary-color);
}

p{
  font-family: $main-font;
}

.container{
  font-family: $main-font;
}

.lang-btn{
  background-color: transparent;
  border-width: 2px;
  border-color: $primary-color;
  top: 5px;
  left: 10px;
  font-size: 1em;
  color: $primary-color;
}

#header-text{
  font-family: 'Rosario', sans-serif;
  color: $white; 
  font-size: 4em;
}

.sub-header{
  color: $white;  
  font-size: 1.5em;
  font-family: $sec-font;
}

.cta{
  margin-top: 60px;
}

.hero{
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  color: #000;
  padding: 5rem 5.6rem;
  background-image: linear-gradient(to left, #CE3303, $secondary-color); 
}

.body{
  background-repeat: no-repeat;
  margin: 0;
}

.primary-btn{
  color: $white;
  border: 2px solid $white;
  font-size: $btn-text-size;
  padding: 10px;
  text-decoration: none;
}

.primary-btn:hover{
  color: white;
  background-color: #000;
  text-decoration: none;
}

// about section start ******************
#about-section{
  margin: 140px 20px 140px 20px;
  font-size: 1.3em;
}

.about-containers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  justify-content: space-evenly;

}

.about-container{
  width: 300px; 
  margin: auto;
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// image section start ******************

.image-containers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.img{
  width: 350px;
  height: 320px;
  object-fit: contain;
  margin: 10px;
}

.image-btn{
  text-align: center;
  margin: 20px;
}

.image-container{
  text-align: center;
}

.secondary-btn{
  color: white;
  border: 2px solid white;
  font-size: $btn-text-size - 0.4em;
  background-color: $pink;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.secondary-btn:hover
{
  background:#000;
  color: white;
  text-decoration: none;
}

// contact section ********************
#contact-section{
  margin: 20px;
  margin-top: 100px;
  font-family: 'Lato', 'sans-serif';
}

.contact-containers{
  display: flex;
  direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.contact-container{
  width: 600px;
  min-height: 350px;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.contact-container a{
  color: $pink;
}

.contact-container a:hover{
  color: $primary-color;
  text-decoration: none;
}


.fa-item{
  margin:10px;
}


footer{
  background-color: gray;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

/* ********** phone screen *********** */
@media screen and (max-width: 450px) {

  .body{
    background-image: none;
  }

  .hero{
    min-height: 60vh;
  }

  .lang-btn{
    background-color: rgba(9, 59, 197, 0); 
  }

  .header-text{
    font-size: 1em; 
  }
  
  .about-container{
    width: 200px;
  }

  .secondary-btn{
    font-size: 20px;
  }

  .contact-container{
    width: 400px;
  }
  
}


